*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
}

/* HEADER */
.top-header{
    background:#e6e6e6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    font-weight:bold;
}

/* NAV ESTILO CAMPUS */
.menu{
    background:#1b5e93;
}

.menu ul{
    display:flex;
    align-items:center;
    list-style:none;
    padding:10px 40px;
    gap:25px;
}

.menu ul li{
    position:relative;
}

.menu ul li a{
    color:white;
    text-decoration:none;
    font-size:14px;
    font-weight:500;
    transition:0.3s;
}

.menu ul li a:hover{
    color:#cfe8ff;
}

/* EFECTO SUBRAYADO AL PASAR */
.menu ul li a::after{
    content:"";
    display:block;
    width:0%;
    height:2px;
    background:white;
    transition:0.3s;
    margin-top:4px;
}

.menu ul li a:hover::after{
    width:100%;
}

.menu ul{
    display:flex;
    list-style:none;
    padding:12px 40px;
}

.menu ul li{
    margin-right:25px;
}

.menu ul li a{
    color:white;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

.menu ul li a:hover{
    color:#ffd700;
}

/* CONTENIDO */
.principal{
    padding:40px;
    text-align:center;
}

.principal h1{
    margin-bottom:30px;
    font-weight:500;
    color:#333;
}

/* BUSCADOR */
.buscador{
    margin-bottom:40px;
}

.buscador input{
    padding:10px;
    width:260px;
    border-radius:6px;
    border:1px solid #ccc;
}

.buscador button{
    padding:10px 15px;
    background:#0d4c8f;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-left:5px;
    transition:0.3s;
}

.buscador button:hover{
    background:#08396c;
}

/* TARJETAS - MAXIMO 3 POR FILA */
.tarjetas{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
    max-width:1100px;
    margin:auto;
}

/* RESPONSIVE */
@media (max-width: 900px){
    .tarjetas{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .tarjetas{
        grid-template-columns: 1fr;
    }
}

/* CARD */
.card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0px 6px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

/* IMAGEN MEJORADA */
.card img{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #0d4c8f;
    margin-bottom:15px;
}

/* BOTON */
.btn-ver{
    display:inline-block;
    margin-top:12px;
    padding:8px 20px;
    background:#0d4c8f;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-size:14px;
    transition:0.3s;
}

.btn-ver:hover{
    background:#08396c;
}

/* FOOTER */
footer{
    margin-top:60px;
    background:#0d4c8f;
    color:white;
    text-align:center;
    padding:15px;
}